[submodule "vim/bundle/hardmode"]
	path = vim/bundle/hardmode
	url = git://github.com/wikitopian/hardmode.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim
[submodule "vim/bundle/file-line"]
	path = vim/bundle/file-line
	url = git://github.com/bogado/file-line.git
[submodule "vim/bundle/netrw"]
	path = vim/bundle/netrw
	url = git://github.com/eiginn/netrw.git
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = git://github.com/itchyny/lightline.vim
